extends layout

block content
    div(style="border: none !important;").ui.vertical.masthead.center.aligned.segment
        div.ui.text.container
            if (!isAuthenticated)
                h1.ui.violet.header Inspired Actions
            else
                h1.ui.violet.header Welcome, #{user.name} #{user.surname}