doctype html
html
    head
        title= title
        include styles
    body
        include header
        block login
        block sign-up
        block content
        block admin-page
        include scripts