body {
    background-image: url("/images/background.jpg") !important;
    background-size: cover !important;
}
body > .grid {
    height: 100%;
}
.column {
    max-width: 450px;
}
.masthead h1.ui.header {
    margin-top: 2em;
    font-size: 4em;
}